<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>pack.ServletEventsListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletEvents</servlet-name>
        <servlet-class>pack.ServletEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEventsListener</servlet-name>
        <servlet-class>pack.ServletEventsListener</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletEventsListener</servlet-name>
        <url-pattern>/ServletEventsListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEvents</servlet-name>
        <url-pattern>/ServletEvents</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletEvents</welcome-file>
    </welcome-file-list>
</web-app>
