/src/include/.libs/
/src/include/_libs/
/src/include/Makefile
/src/include/Makefile.in

/src/lib/.deps/
/src/lib/.libs/
/src/lib/_libs/
/src/lib/Makefile
/src/lib/Makefile.in
/src/lib/libopendpi.la
/src/lib/.so_locations

/src/examples/OpenDPI_demo/.libs/
/src/examples/OpenDPI_demo/_libs/
/src/examples/OpenDPI_demo/.deps/
/src/examples/OpenDPI_demo/OpenDPI_demo
/src/examples/OpenDPI_demo/Makefile
/src/examples/OpenDPI_demo/Makefile.in

/.libs/
/_libs/
/INSTALL
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing

/Makefile
/config.log
/config.status
/libtool


