/GTAGS
/GPATH
/GRTAGS
/bin/
/include/
/lib/
/http/
.vscode/
/**/.libs/
/**/_libs/
/**/.deps/
*.o
*.lo
*.a
*.la
!/src/SDK/**/*
.dirstamp
*.so_locations
/**/Makefile
/**/Makefile.in
/INSTALL
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/config.log
/config.status
/libtool
/autoscan.log
/ar-lib
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/stamp-h1
