<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CataPageServlet</servlet-name>
        <servlet-class>Servlet.CataPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagePageServlet</servlet-name>
        <servlet-class>Servlet.MessagePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRevertServlet</servlet-name>
        <servlet-class>Servlet.SaveRevertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessageServlet</servlet-name>
        <servlet-class>Servlet.SaveMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddModeratorServlet</servlet-name>
        <servlet-class>Servlet.AddModeratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelModeratorServlet</servlet-name>
        <servlet-class>Servlet.DelModeratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCataServlet</servlet-name>
        <servlet-class>Servlet.AddCataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelCataServlet</servlet-name>
        <servlet-class>Servlet.DelCataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendWordServlet</servlet-name>
        <servlet-class>Servlet.SendWordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CataPageServlet</servlet-name>
        <url-pattern>/CataPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagePageServlet</servlet-name>
        <url-pattern>/MessagePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRevertServlet</servlet-name>
        <url-pattern>/SaveRevertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessageServlet</servlet-name>
        <url-pattern>/SaveMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddModeratorServlet</servlet-name>
        <url-pattern>/AddModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelModeratorServlet</servlet-name>
        <url-pattern>/DelModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCataServlet</servlet-name>
        <url-pattern>/AddCataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelCataServlet</servlet-name>
        <url-pattern>/DelCataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendWordServlet</servlet-name>
        <url-pattern>/SendWordServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
